---
# Handlers for common role

- name: Restart sshd
  ansible.builtin.service:
    name: ssh
    state: restarted

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: Reload ufw
  community.general.ufw:
    state: reloaded
